*.exe

*.dll

*.lib

*.opensdf
*.ilk
*.pdb
*.suo
*.obj

*.sdf
ipch/*
obj/Debug/Camera.obj
*.obj
obj/
bin/
bin/
bin/*
DeferredRendererQt/Debug/
bin/Debug/libGL.exp
bin/Debug/DeferredRenderer.ilk
bin/Debug/DeferredRenderer.pdb
bin/Debug/libGL.exp
bin/Debug/libGL.ilk
