*.exp
*.opensdf
*.ilk
*.suo

*.sdf
ipch/*
bin/*
bin/*/
bin/*/*/
bin/*/*/*.*
_build_temp/*
_build_temp/*/*
_build_temp/*/*/*.*

*.sublime-project
*.sublime-workspace
lib/*
*.cache
*.opendb

*.db
FANCY.VC.db
*.user
*.TMP
*.ipch
*.db-shm
*.db-wal
*/imgui.ini
*.stackdump
fancy_assets/x64/
fancy_imgui/x64/
packages/**

external/dxc/

external/sharpmake/

fancy.sharpmake/obj/

external/DX12_Agility_SDK/

Tests/tests_runtimedependencies.txt

*.vcxproj

*.filters

FANCY.sln

FANCY.sln.DotSettings
