[submodule "external/SPIRV-Reflect"]
	path = external/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git