*.exe
*.exp
*.opensdf
*.ilk
*.pdb
*.suo
*.obj

*.sdf
ipch/*
bin/*
bin/*/
bin/*/*/
bin/*/*/*.*
_build_temp/*
_build_temp/*/*
_build_temp/*/*/*.*

*.sublime-project
*.sublime-workspace
lib/*
*.cache
*.opendb

dependencies/lib/*
*.db
FANCY.VC.db
*.user
